@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@500;700&display=swap");

$color-dark: #2b3939;
$color-gray: #7c8f8f;
$color-green: #5ca5a5;
$color-white: #ffffff;
$bg-color: #effafa;
$shadow: #0d718226;
$font: "League Spartan", sans-serif;
$width-tablet: 950px;
$width-mobile: 550px;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $font;
}

@mixin flexBox($flex-width,
  $flex-height,
  $flex-direction,
  $flex-justify-content: flex-start,
  $flex-align-items: stretch,
  $flex-gap: normal) {
  max-width: $flex-width;
  width: 100%;
  height: $flex-height;
  display: flex;
  flex-direction: $flex-direction;
  justify-content: $flex-justify-content;
  align-items: $flex-align-items;
  gap: $flex-gap;
}

@mixin typography($font-color,
  $font-size,
  $font-style,
  $font-weight,
  $font-lineHeight,
  $font-spacing,
  $font-transform,
  $text-align) {
  color: $font-color;
  font-size: $font-size;
  font-style: $font-style;
  font-weight: $font-weight;
  line-height: $font-lineHeight;
  letter-spacing: $font-spacing;
  text-transform: $font-transform;
  text-align: $text-align;
}

@mixin box($bg-color, $border-radius, $dimension-height, $padding-top) {
  background-color: $bg-color;
  border-radius: $border-radius;
  height: $dimension-height;
  padding-inline: 8px;
  padding-top: $padding-top;
}

body {
  max-width: 1440px;
  width: 100%;
  height: auto;
  display: grid;
  place-items: center;
  margin: 0 auto;
  position: relative;
  background: $bg-color;

  @media (max-width:$width-tablet) {
    max-width: 850px;
  }

  @media (max-width:$width-mobile) {
    max-width: 375px;
  }
}

.header {
  background: no-repeat center/cover url(./images/bg-header-desktop.svg) $color-green;
  width: 100%;
  min-height: 156px;
  position: relative;
}

.filter {
  @include flexBox(1110px, auto, row, space-between, center, 16px);
  position: relative;
  top: -33px;
  padding: 20px 40px;
  background: $color-white;
  border-radius: 5px;
  box-shadow: 0px 15px 20px -5px $shadow;
  min-height: 72px;

  @media (max-width:$width-tablet) {
    max-width: 750px;
  }

  @media (max-width:$width-mobile) {
    max-width: 327px;
  }

  &__jobs {
    @include flexBox(900px, auto, row, flex-start, center, 16px);
    flex-wrap: wrap;
  }

  &__job {
    @include flexBox(fit-content, 32px, row, center, center, normal);
    border-radius: 4px;
    overflow: hidden;
  }

  &__title {
    @include typography($color-green, 16px, normal, 700, 24px, -0.123px, none, center);
    background: $bg-color;
    padding: 5px 9px 3px 8px;
  }

  &__close {
    display: grid;
    place-items: center;
    background: $color-green;
    min-width: 32px;
    min-height: 32px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    cursor: pointer;
  }

  &__close:hover {
    background: $color-dark;
  }

  &__clear {
    @include typography($color-gray, 16px, normal, 700, 24px, -0.123px, normal, right);
    cursor: pointer;
  }

  &__clear:hover {
    color: $color-green;
    text-decoration: underline;
  }
}

.jobs {
  @include flexBox(1440px, auto, column, flex-start, center, 24px);
  padding-top: 76px;
  padding-bottom: 120px;
  background: $bg-color;

  @media (max-width:$width-tablet) {
    max-width: 850px;
  }

  @media (max-width:$width-mobile) {
    max-width: 375px;
    gap: 40px;
  }

  &__container {
    @include flexBox(1110px, 152px, row, flex-start, center, 35px);
    background: $color-white;
    border-radius: 5px;
    box-shadow: 0px 15px 20px -5px $shadow;

    @media (max-width:$width-tablet) {
      max-width: 750px;
      min-height: 275px;
    }

    @media (max-width:$width-mobile) {
      max-width: 327px;
      min-height: 218px;
      position: relative;
      gap: 0;
    }
  }

  &__left {
    background: $color-white;
    min-width: 5px;
    height: 100%;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
  }

  &__box {
    @include flexBox(1105px, auto, row, space-between, center, normal);
    padding-right: 40px;

    @media (max-width:$width-tablet) {
      @include flexBox(730px, auto, column, center, center, 35px);
      padding: 0;
    }

    @media (max-width:$width-mobile) {
      @include flexBox(327px, auto, column, center, center, 16px);
      padding: 32px 24px 27px 24px;
      min-height: 218px;
    }
  }

  &__section {
    @include flexBox(500px, auto, row, flex-start, center, 24px);

    @media (max-width:$width-tablet) {
      gap: 70px;
    }

    @media (max-width:$width-mobile) {
      @include flexBox(327px, auto, column, center, center, normal);
    }
  }

  &__logo {
    width: 88px;
    height: 88px;

    @media (max-width:$width-tablet) {
      width: 120px;
      height: 120px;
    }

    @media (max-width:$width-mobile) {
      width: 48px;
      height: 48px;
      position: absolute;
      top: -24px;
      left: 30px;
    }
  }

  &__details {
    @include flexBox(412px, auto, column, center, flex-start, 10px);

    @media (max-width:$width-tablet) {
      min-height: 160px;
      gap: 30px;
    }

    @media (max-width:$width-mobile) {
      min-height: 90px;
      gap: 9px;
    }
  }

  &__features {
    @include flexBox(412px, auto, row, flex-start, center, 8px);
    @include typography($color-white, 14px, normal, 700, 14px, -0.108px, uppercase, center);
  }

  &__company {
    @include typography($color-green, 18px, normal, 700, normal, normal, none, left);

    @media (max-width:$width-mobile) {
      font-size: 13px;
      margin-right: 20px;
    }
  }

  &__new {
    @include box($color-green, 12px, 24px, 7px);
  }

  &__featured {
    @include box($color-dark, 12px, 24px, 7px);
  }

  &__position {
    @include typography($color-dark, 22px, normal, 700, 24px, normal, none, left);

    @media (max-width:$width-mobile) {
      font-size: 15px;
    }
  }

  &__infos {
    @include flexBox(412px, auto, row, flex-start, center, 18.5px);
    @include typography($color-gray, 18px, normal, 500, 24px, -0.138px, none, left);

    @media (max-width:$width-mobile) {
      @include typography($color-gray, 16px, normal, 500, 24px, -0.123px, none, left);
      gap: 10px;
    }
  }

  &__separator {
    width: 4px;
    height: 4px;
    border-radius: 100%;
    background-color: #b7c4c4;
  }

  &__categories {
    @include flexBox(500px, auto, row, flex-end, center, 16px);
    flex-wrap: wrap;

    @media (max-width:$width-tablet) {
      justify-content: center;
    }

    @media (max-width:$width-mobile) {
      border-top: 1px solid #b7c4c4;
      padding-top: 21px;
      justify-content: flex-start;
    }
  }

  &__category {
    @include typography($color-green, 16px, normal, 700, 24px, -0.123px, none, center);
    @include box($bg-color, 4px, 32px, 5px);
    cursor: pointer;
  }

  &__category:hover {
    background: $color-green;
    color: $color-white;
  }
}

.hide {
  display: none;
}

.featured {
  background: $color-green;
}

.disabled {
  pointer-events: none;
}